{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <form action="" method="">
        <div class="div">
        <h1 id="heading">WELCOME </h1>
        <h2 style="color:rgb(13, 63, 65); text-align:center;">LOGIN PAGE</h2>
        <b>USERNAME</b>&nbsp;<input type="text" name="user" class="ab"><br><br>
        <b>PASSWORD</b> &nbsp;<input type="password" value="pass" class="ab"><br><br>
        <input type="submit" value="login" >
        </div>
    </form>
</body>
</html>