{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
     body {
        background-color: rgb(182, 255, 255);
        text-align: center;
     }
    </style>
</head>
<body>
    <form action="" method="">
        <h1 style="color:rgb(13, 63, 65); text-align:center;">LOGIN</h1>
        <b>USERNAME</b>&nbsp;<input type="text" name="user"><br><br>
        <b>PASSWORD</b> &nbsp;<input type="password" value="pass"><br><br>
        <input type="submit" value="login">

    </form>
</body>
</html>